--- 
consumer_key: 5TWWFjRKxqd64q7mGhWQg
consumer_secret: oJERKk0pR4xGSx1cEg9J7Txxh8IPFqvuyNag4l6AeYQ
access_token: 123667383-zeXAu3y9d67vUqCC9MmStsb4OBWLwl0dGgOV9j7E
access_secret: f7CGRpW9JAjYLP4byed5wmEzT712TiG1wX0FEDH2ZQ
bitly_user: mathewjm
bitly_apikey: R_329514adb38851fa184d7937848dc38a
